# Core functionality - changes here should be rare!
/src/app.py                   @sarahbltn
/src/backend/database.py      @sarahbltn
/src/backend/routers/auth.py  @sarahbltn

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sarahbltn
